@font-face {
  font-family: "iconfont"; /* Project id 2871619 */
  src: url('iconfont.woff2?t=1642124487522') format('woff2'),
       url('iconfont.woff?t=1642124487522') format('woff'),
       url('iconfont.ttf?t=1642124487522') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_heading4:before {
  content: "\e91f";
}

.ic_heading1:before {
  content: "\e920";
}

.ic_heading2:before {
  content: "\e921";
}

.ic_heading3:before {
  content: "\e922";
}

.ic_heading5:before {
  content: "\e923";
}

.ic_heading6:before {
  content: "\e924";
}

.ic_attachment:before {
  content: "\e916";
}

.ic_heading:before {
  content: "\e917";
}

.ic_functions:before {
  content: "\e918";
}

.ic_hashtag:before {
  content: "\e919";
}

.ic_indent_decrease:before {
  content: "\e91a";
}

.ic_indent_increase:before {
  content: "\e91b";
}

.ic_link:before {
  content: "\e91c";
}

.ic_superscript:before {
  content: "\e91d";
}

.ic_subscript:before {
  content: "\e91e";
}

.ic_font:before {
  content: "\e602";
}

.ic_qiapianxingshi:before {
  content: "\e90f";
}

.ic_liebiaoxingshi:before {
  content: "\e910";
}

.ic_shield_disable:before {
  content: "\e911";
}

.ic_close:before {
  content: "\e912";
}

.ic_check:before {
  content: "\e913";
}

.ic_defer:before {
  content: "\e914";
}

.ic_quanxuan:before {
  content: "\e915";
}

.ic_volume_up_px:before {
  content: "\e6f7";
}

.ic_watch_px:before {
  content: "\e7f7";
}

.ic_notifications_on_px:before {
  content: "\e8f7";
}

.ic_web_px:before {
  content: "\e6f8";
}

.ic_tablet_mac_px:before {
  content: "\e7f8";
}

.ic_notifications_px:before {
  content: "\e8f8";
}

.ic_call_px:before {
  content: "\e6f9";
}

.ic_assistant_photo_px:before {
  content: "\e7f9";
}

.ic_notifications_none_px:before {
  content: "\e8f9";
}

.ic_call_merge_px:before {
  content: "\e6fa";
}

.ic_add_to_photos_px:before {
  content: "\e7fa";
}

.ic_pages_px:before {
  content: "\e8fa";
}

.ic_call_made_px:before {
  content: "\e6fb";
}

.ic_audiotrack_px:before {
  content: "\e7fb";
}

.ic_people_outline_px:before {
  content: "\e8fb";
}

.ic_call_end_px:before {
  content: "\e6fc";
}

.ic_adjust_px:before {
  content: "\e7fc";
}

.ic_notifications_off_px:before {
  content: "\e8fc";
}

.ic_call_missed_px:before {
  content: "\e6fd";
}

.ic_brightness__px:before {
  content: "\e7fd";
}

.ic_party_mode_px:before {
  content: "\e8fd";
}

.ic_business_px:before {
  content: "\e6fe";
}

.ic_blur_circular_px:before {
  content: "\e7fe";
}

.ic_person_px:before {
  content: "\e8fe";
}

.ic_comment_px:before {
  content: "\e6ff";
}

.ic_brightness__px1:before {
  content: "\e7ff";
}

.ic_person_add_px:before {
  content: "\e8ff";
}

.ic_call_split_px:before {
  content: "\e700";
}

.ic_blur_linear_px:before {
  content: "\e800";
}

.ic_people_px:before {
  content: "\e900";
}

.ic_clear_all_px:before {
  content: "\e701";
}

.ic_brightness__px2:before {
  content: "\e801";
}

.ic_public_px:before {
  content: "\e901";
}

.ic_chat_px:before {
  content: "\e702";
}

.ic_brightness__px3:before {
  content: "\e802";
}

.ic_person_outline_px:before {
  content: "\e902";
}

.ic_call_received_px:before {
  content: "\e703";
}

.ic_brightness__px4:before {
  content: "\e803";
}

.ic_poll_px:before {
  content: "\e903";
}

.ic_forum_px:before {
  content: "\e704";
}

.ic_blur_on_px:before {
  content: "\e804";
}

.ic_school_px:before {
  content: "\e904";
}

.ic_email_px:before {
  content: "\e705";
}

.ic_brightness__px5:before {
  content: "\e805";
}

.ic_share_px:before {
  content: "\e905";
}

.ic_dialpad_px:before {
  content: "\e706";
}

.ic_blur_off_px:before {
  content: "\e806";
}

.ic_plus_one_px:before {
  content: "\e906";
}

.ic_dnd_on_px:before {
  content: "\e707";
}

.ic_brightness__px6:before {
  content: "\e807";
}

.ic_whatshot_px:before {
  content: "\e907";
}

.ic_dialer_sip_px:before {
  content: "\e708";
}

.ic_brush_px:before {
  content: "\e808";
}

.ic_check_box_px:before {
  content: "\e908";
}

.ic_invert_colors_on_px:before {
  content: "\e709";
}

.ic_camera_roll_px:before {
  content: "\e809";
}

.ic_radio_button_on_px:before {
  content: "\e909";
}

.ic_import_export_px:before {
  content: "\e70a";
}

.ic_camera_alt_px:before {
  content: "\e80a";
}

.ic_check_box_outline_blank_px:before {
  content: "\e90a";
}

.ic_invert_colors_off_px:before {
  content: "\e70b";
}

.ic_camera_front_px:before {
  content: "\e80b";
}

.ic_radio_button_off_px:before {
  content: "\e90b";
}

.ic_location_off_px:before {
  content: "\e70c";
}

.ic_center_focus_strong_px:before {
  content: "\e80c";
}

.ic_star_px:before {
  content: "\e90c";
}

.ic_location_on_px:before {
  content: "\e70d";
}

.ic_camera_rear_px:before {
  content: "\e80d";
}

.ic_star_half_px:before {
  content: "\e90d";
}

.ic_live_help_px:before {
  content: "\e70e";
}

.ic_camera_px:before {
  content: "\e80e";
}

.ic_star_outline_px:before {
  content: "\e90e";
}

.ic_no_sim_px:before {
  content: "\e70f";
}

.ic_collections_px:before {
  content: "\e80f";
}

.ic_message_px:before {
  content: "\e710";
}

.ic_colorize_px:before {
  content: "\e810";
}

.ic_quick_contacts_dialer_px:before {
  content: "\e711";
}

.ic_control_point_px:before {
  content: "\e811";
}

.ic_phone_px:before {
  content: "\e712";
}

.ic_center_focus_weak_px:before {
  content: "\e812";
}

.ic_messenger_px:before {
  content: "\e713";
}

.ic_color_lens_px:before {
  content: "\e813";
}

.ic_portable_wifi_off_px:before {
  content: "\e714";
}

.ic_crop___px:before {
  content: "\e814";
}

.ic_stay_current_landscape_px:before {
  content: "\e715";
}

.ic_crop___px1:before {
  content: "\e815";
}

.ic_quick_contacts_mail_px:before {
  content: "\e716";
}

.ic_crop___px2:before {
  content: "\e816";
}

.ic_stay_primary_landscape_px:before {
  content: "\e717";
}

.ic_crop_px:before {
  content: "\e817";
}

.ic_ring_volume_px:before {
  content: "\e718";
}

.ic_crop___px3:before {
  content: "\e818";
}

.ic_stay_current_portrait_px:before {
  content: "\e719";
}

.ic_compare_px:before {
  content: "\e819";
}

.ic_stay_primary_portrait_px:before {
  content: "\e71a";
}

.ic_crop_din_px:before {
  content: "\e81a";
}

.ic_contacts_px:before {
  content: "\e71b";
}

.ic_crop_portrait_px:before {
  content: "\e81b";
}

.ic_swap_calls_px:before {
  content: "\e71c";
}

.ic_crop_free_px:before {
  content: "\e81c";
}

.ic_voicemail_px:before {
  content: "\e71d";
}

.ic_dehaze_px:before {
  content: "\e81d";
}

.ic_textsms_px:before {
  content: "\e71e";
}

.ic_crop_square_px:before {
  content: "\e81e";
}

.ic_vpn_key_px:before {
  content: "\e71f";
}

.ic_crop_landscape_px:before {
  content: "\e81f";
}

.ic_add_px:before {
  content: "\e720";
}

.ic_exposure_minus__px:before {
  content: "\e820";
}

.ic_add_box_px:before {
  content: "\e721";
}

.ic_details_px:before {
  content: "\e821";
}

.ic_add_circle_outline_px:before {
  content: "\e722";
}

.ic_exposure_px:before {
  content: "\e822";
}

.ic_d_rotation_px:before {
  content: "\e623";
}

.ic_add_circle_px:before {
  content: "\e723";
}

.ic_edit_px:before {
  content: "\e823";
}

.ic_accessibility_px:before {
  content: "\e624";
}

.ic_backspace_px:before {
  content: "\e724";
}

.ic_exposure_minus__px1:before {
  content: "\e824";
}

.ic_account_balance_px:before {
  content: "\e625";
}

.ic_add_circle_outline_px1:before {
  content: "\e725";
}

.ic_exposure_plus__px:before {
  content: "\e825";
}

.ic_account_balance_wallet_px:before {
  content: "\e626";
}

.ic_clear_px:before {
  content: "\e726";
}

.ic_filter__px:before {
  content: "\e826";
}

.ic_account_box_px:before {
  content: "\e627";
}

.ic_backspace_px1:before {
  content: "\e727";
}

.ic_exposure_zero_px:before {
  content: "\e827";
}

.ic_account_box_px1:before {
  content: "\e628";
}

.ic_block_px:before {
  content: "\e728";
}

.ic_filter__px1:before {
  content: "\e828";
}

.ic_account_child_px:before {
  content: "\e629";
}

.ic_clear_px1:before {
  content: "\e729";
}

.ic_filter__px2:before {
  content: "\e829";
}

.ic_account_circle_px:before {
  content: "\e62a";
}

.ic_content_copy_px:before {
  content: "\e72a";
}

.ic_filter__px3:before {
  content: "\e82a";
}

.ic_add_shopping_cart_px:before {
  content: "\e62b";
}

.ic_create_px:before {
  content: "\e72b";
}

.ic_filter__px4:before {
  content: "\e82b";
}

.ic_alarm_px:before {
  content: "\e62c";
}

.ic_content_cut_px:before {
  content: "\e72c";
}

.ic_filter__px5:before {
  content: "\e82c";
}

.ic_alarm_add_px:before {
  content: "\e62d";
}

.ic_create_px1:before {
  content: "\e72d";
}

.ic_filter__px6:before {
  content: "\e82d";
}

.ic_alarm_off_px:before {
  content: "\e62e";
}

.ic_archive_px:before {
  content: "\e72e";
}

.ic_filter__px7:before {
  content: "\e82e";
}

.ic_alarm_on_px:before {
  content: "\e62f";
}

.ic_flag_px:before {
  content: "\e72f";
}

.ic_filter__px8:before {
  content: "\e82f";
}

.ic_android_px:before {
  content: "\e630";
}

.ic_drafts_px:before {
  content: "\e730";
}

.ic_filter_b_and_w_px:before {
  content: "\e830";
}

.ic_announcement_px:before {
  content: "\e631";
}

.ic_filter_list_px:before {
  content: "\e731";
}

.ic_filter_drama_px:before {
  content: "\e831";
}

.ic_aspect_ratio_px:before {
  content: "\e632";
}

.ic_flag_px1:before {
  content: "\e732";
}

.ic_filter_frames_px:before {
  content: "\e832";
}

.ic_assessment_px:before {
  content: "\e633";
}

.ic_filter_list_px1:before {
  content: "\e733";
}

.ic_filter__plus_px:before {
  content: "\e833";
}

.ic_assignment_px:before {
  content: "\e634";
}

.ic_content_paste_px:before {
  content: "\e734";
}

.ic_filter_center_focus_px:before {
  content: "\e834";
}

.ic_assignment_ind_px:before {
  content: "\e635";
}

.ic_gesture_px:before {
  content: "\e735";
}

.ic_exposure_plus__px1:before {
  content: "\e835";
}

.ic_assignment_late_px:before {
  content: "\e636";
}

.ic_forward_px:before {
  content: "\e736";
}

.ic_control_point_duplicate_px:before {
  content: "\e836";
}

.ic_assignment_return_px:before {
  content: "\e637";
}

.ic_inbox_px:before {
  content: "\e737";
}

.ic_filter_px:before {
  content: "\e837";
}

.ic_assignment_returned_px:before {
  content: "\e638";
}

.ic_mail_px:before {
  content: "\e738";
}

.ic_filter_none_px:before {
  content: "\e838";
}

.ic_assignment_turned_in_px:before {
  content: "\e639";
}

.ic_markunread_px:before {
  content: "\e739";
}

.ic_filter_hdr_px:before {
  content: "\e839";
}

.ic_autorenew_px:before {
  content: "\e63a";
}

.ic_link_px:before {
  content: "\e73a";
}

.ic_flare_px:before {
  content: "\e83a";
}

.ic_backup_px:before {
  content: "\e63b";
}

.ic_link_px1:before {
  content: "\e73b";
}

.ic_crop_original_px:before {
  content: "\e83b";
}

.ic_book_px:before {
  content: "\e63c";
}

.ic_remove_px:before {
  content: "\e73c";
}

.ic_filter_tilt_shift_px:before {
  content: "\e83c";
}

.ic_bookmark_px:before {
  content: "\e63d";
}

.ic_redo_px:before {
  content: "\e73d";
}

.ic_filter_vintage_px:before {
  content: "\e83d";
}

.ic_bookmark_outline_px:before {
  content: "\e63e";
}

.ic_remove_circle_px:before {
  content: "\e73e";
}

.ic_flash_auto_px:before {
  content: "\e83e";
}

.ic_bug_report_px:before {
  content: "\e63f";
}

.ic_remove_px1:before {
  content: "\e73f";
}

.ic_flash_on_px:before {
  content: "\e83f";
}

.ic_cached_px:before {
  content: "\e640";
}

.ic_reply_px:before {
  content: "\e740";
}

.ic_flash_off_px:before {
  content: "\e840";
}

.ic_class_px:before {
  content: "\e641";
}

.ic_remove_circle_outline_px:before {
  content: "\e741";
}

.ic_grain_px:before {
  content: "\e841";
}

.ic_credit_card_px:before {
  content: "\e642";
}

.ic_reply_all_px:before {
  content: "\e742";
}

.ic_gradient_px:before {
  content: "\e842";
}

.ic_dashboard_px:before {
  content: "\e643";
}

.ic_remove_circle_outline_px1:before {
  content: "\e743";
}

.ic_grid_off_px:before {
  content: "\e843";
}

.ic_delete_px:before {
  content: "\e644";
}

.ic_report_px:before {
  content: "\e744";
}

.ic_hdr_strong_px:before {
  content: "\e844";
}

.ic_description_px:before {
  content: "\e645";
}

.ic_save_px:before {
  content: "\e745";
}

.ic_hdr_weak_px:before {
  content: "\e845";
}

.ic_dns_px:before {
  content: "\e646";
}

.ic_select_all_px:before {
  content: "\e746";
}

.ic_hdr_on_px:before {
  content: "\e846";
}

.ic_done_px:before {
  content: "\e647";
}

.ic_report_px1:before {
  content: "\e747";
}

.ic_hdr_off_px:before {
  content: "\e847";
}

.ic_done_all_px:before {
  content: "\e648";
}

.ic_select_all_px1:before {
  content: "\e748";
}

.ic_grid_on_px:before {
  content: "\e848";
}

.ic_event_px:before {
  content: "\e649";
}

.ic_sort_px:before {
  content: "\e749";
}

.ic_image_aspect_ratio_px:before {
  content: "\e849";
}

.ic_exit_to_app_px:before {
  content: "\e64a";
}

.ic_text_format_px:before {
  content: "\e74a";
}

.ic_healing_px:before {
  content: "\e84a";
}

.ic_extension_px:before {
  content: "\e64b";
}

.ic_text_format_px1:before {
  content: "\e74b";
}

.ic_landscape_px:before {
  content: "\e84b";
}

.ic_explore_px:before {
  content: "\e64c";
}

.ic_send_px:before {
  content: "\e74c";
}

.ic_leak_add_px:before {
  content: "\e84c";
}

.ic_favorite_outline_px:before {
  content: "\e64d";
}

.ic_undo_px:before {
  content: "\e74d";
}

.ic_image_px:before {
  content: "\e84d";
}

.ic_favorite_px:before {
  content: "\e64e";
}

.ic_access_alarms_px:before {
  content: "\e74e";
}

.ic_looks__px:before {
  content: "\e84e";
}

.ic_face_unlock_px:before {
  content: "\e64f";
}

.ic_airplanemode_off_px:before {
  content: "\e74f";
}

.ic_looks__px1:before {
  content: "\e84f";
}

.ic_flip_to_back_px:before {
  content: "\e650";
}

.ic_access_time_px:before {
  content: "\e750";
}

.ic_looks__px2:before {
  content: "\e850";
}

.ic_find_replace_px:before {
  content: "\e651";
}

.ic_access_alarm_px:before {
  content: "\e751";
}

.ic_iso_px:before {
  content: "\e851";
}

.ic_find_in_page_px:before {
  content: "\e652";
}

.ic_airplanemode_on_px:before {
  content: "\e752";
}

.ic_leak_remove_px:before {
  content: "\e852";
}

.ic_get_app_px:before {
  content: "\e653";
}

.ic_add_alarm_px:before {
  content: "\e753";
}

.ic_lens_px:before {
  content: "\e853";
}

.ic_grade_px:before {
  content: "\e654";
}

.ic_battery__px:before {
  content: "\e754";
}

.ic_looks_px:before {
  content: "\e854";
}

.ic_flip_to_front_px:before {
  content: "\e655";
}

.ic_battery_alert_px:before {
  content: "\e755";
}

.ic_looks_two_px:before {
  content: "\e855";
}

.ic_highlight_remove_px:before {
  content: "\e656";
}

.ic_battery_charging__px:before {
  content: "\e756";
}

.ic_loupe_px:before {
  content: "\e856";
}

.ic_history_px:before {
  content: "\e657";
}

.ic_battery_std_px:before {
  content: "\e757";
}

.ic_movie_creation_px:before {
  content: "\e857";
}

.ic_home_px:before {
  content: "\e658";
}

.ic_battery_full_px:before {
  content: "\e758";
}

.ic_looks__px3:before {
  content: "\e858";
}

.ic_https_px:before {
  content: "\e659";
}

.ic_battery_unknown_px:before {
  content: "\e759";
}

.ic_looks_one_px:before {
  content: "\e859";
}

.ic_help_px:before {
  content: "\e65a";
}

.ic_bluetooth_px:before {
  content: "\e75a";
}

.ic_navigate_next_px:before {
  content: "\e85a";
}

.ic_group_work_px:before {
  content: "\e65b";
}

.ic_bluetooth_disabled_px:before {
  content: "\e75b";
}

.ic_nature_people_px:before {
  content: "\e85b";
}

.ic_input_px:before {
  content: "\e65c";
}

.ic_bluetooth_connected_px:before {
  content: "\e75c";
}

.ic_navigate_before_px:before {
  content: "\e85c";
}

.ic_info_px:before {
  content: "\e65d";
}

.ic_brightness_high_px:before {
  content: "\e75d";
}

.ic_panorama_px:before {
  content: "\e85d";
}

.ic_label_px:before {
  content: "\e65e";
}

.ic_data_usage_px:before {
  content: "\e75e";
}

.ic_palette_px:before {
  content: "\e85e";
}

.ic_info_outline_px:before {
  content: "\e65f";
}

.ic_brightness_medium_px:before {
  content: "\e75f";
}

.ic_panorama_fisheye_px:before {
  content: "\e85f";
}

.ic_invert_colors_px:before {
  content: "\e660";
}

.ic_brightness_low_px:before {
  content: "\e760";
}

.ic_panorama_wide_angle_px:before {
  content: "\e860";
}

.ic_label_outline_px:before {
  content: "\e661";
}

.ic_brightness_auto_px:before {
  content: "\e761";
}

.ic_photo_album_px:before {
  content: "\e861";
}

.ic_list_px:before {
  content: "\e662";
}

.ic_bluetooth_searching_px:before {
  content: "\e762";
}

.ic_photo_px:before {
  content: "\e862";
}

.ic_launch_px:before {
  content: "\e663";
}

.ic_gps_fixed_px:before {
  content: "\e763";
}

.ic_panorama_vertical_px:before {
  content: "\e863";
}

.ic_lock_open_px:before {
  content: "\e664";
}

.ic_gps_not_fixed_px:before {
  content: "\e764";
}

.ic_panorama_horizontal_px:before {
  content: "\e864";
}

.ic_lock_px:before {
  content: "\e665";
}

.ic_devices_px:before {
  content: "\e765";
}

.ic_photo_camera_px:before {
  content: "\e865";
}

.ic_lock_outline_px:before {
  content: "\e666";
}

.ic_dvr_px:before {
  content: "\e766";
}

.ic_remove_red_eye_px:before {
  content: "\e866";
}

.ic_language_px:before {
  content: "\e667";
}

.ic_gps_off_px:before {
  content: "\e767";
}

.ic_photo_library_px:before {
  content: "\e867";
}

.ic_loyalty_px:before {
  content: "\e668";
}

.ic_developer_mode_px:before {
  content: "\e768";
}

.ic_rotate_right_px:before {
  content: "\e868";
}

.ic_note_add_px:before {
  content: "\e669";
}

.ic_nfc_px:before {
  content: "\e769";
}

.ic_rotate_left_px:before {
  content: "\e869";
}

.ic_open_in_browser_px:before {
  content: "\e66a";
}

.ic_multitrack_audio_px:before {
  content: "\e76a";
}

.ic_portrait_px:before {
  content: "\e86a";
}

.ic_markunread_mailbox_px:before {
  content: "\e66b";
}

.ic_location_searching_px:before {
  content: "\e76b";
}

.ic_nature_px:before {
  content: "\e86b";
}

.ic_open_in_new_px:before {
  content: "\e66c";
}

.ic_network_cell_px:before {
  content: "\e76c";
}

.ic_slideshow_px:before {
  content: "\e86c";
}

.ic_open_with_px:before {
  content: "\e66d";
}

.ic_network_wifi_px:before {
  content: "\e76d";
}

.ic_switch_camera_px:before {
  content: "\e86d";
}

.ic_pageview_px:before {
  content: "\e66e";
}

.ic_screen_rotation_px:before {
  content: "\e76e";
}

.ic_style_px:before {
  content: "\e86e";
}

.ic_perm_camera_mic_px:before {
  content: "\e66f";
}

.ic_screen_lock_landscape_px:before {
  content: "\e76f";
}

.ic_switch_video_px:before {
  content: "\e86f";
}

.ic_payment_px:before {
  content: "\e670";
}

.ic_now_widgets_px:before {
  content: "\e770";
}

.ic_straighten_px:before {
  content: "\e870";
}

.ic_perm_data_setting_px:before {
  content: "\e671";
}

.ic_now_wallpaper_px:before {
  content: "\e771";
}

.ic_tag_faces_px:before {
  content: "\e871";
}

.ic_perm_device_info_px:before {
  content: "\e672";
}

.ic_screen_lock_portrait_px:before {
  content: "\e772";
}

.ic_timer_px:before {
  content: "\e872";
}

.ic_perm_contact_cal_px:before {
  content: "\e673";
}

.ic_screen_lock_rotation_px:before {
  content: "\e773";
}

.ic_texture_px:before {
  content: "\e873";
}

.ic_perm_identity_px:before {
  content: "\e674";
}

.ic_signal_cellular__bar_px:before {
  content: "\e774";
}

.ic_timelapse_px:before {
  content: "\e874";
}

.ic_perm_scan_wifi_px:before {
  content: "\e675";
}

.ic_sd_storage_px:before {
  content: "\e775";
}

.ic_timer__px:before {
  content: "\e875";
}

.ic_perm_phone_msg_px:before {
  content: "\e676";
}

.ic_settings_system_daydream_px:before {
  content: "\e776";
}

.ic_timer__px1:before {
  content: "\e876";
}

.ic_picture_in_picture_px:before {
  content: "\e677";
}

.ic_signal_cellular__bar_px1:before {
  content: "\e777";
}

.ic_timer_off_px:before {
  content: "\e877";
}

.ic_perm_media_px:before {
  content: "\e678";
}

.ic_location_disabled_px:before {
  content: "\e778";
}

.ic_timer_auto_px:before {
  content: "\e878";
}

.ic_polymer_px:before {
  content: "\e679";
}

.ic_signal_cellular_no_sim_px:before {
  content: "\e779";
}

.ic_tune_px:before {
  content: "\e879";
}

.ic_question_answer_px:before {
  content: "\e67a";
}

.ic_signal_cellular_connected_no_internet__bar_p:before {
  content: "\e77a";
}

.ic_tonality_px:before {
  content: "\e87a";
}

.ic_print_px:before {
  content: "\e67b";
}

.ic_signal_cellular_null_px:before {
  content: "\e77b";
}

.ic_transform_px:before {
  content: "\e87b";
}

.ic_query_builder_px:before {
  content: "\e67c";
}

.ic_signal_wifi_off_px:before {
  content: "\e77c";
}

.ic_wb_auto_px:before {
  content: "\e87c";
}

.ic_reorder_px:before {
  content: "\e67d";
}

.ic_signal_wifi_statusbar__bar_xpx:before {
  content: "\e77d";
}

.ic_flip_px:before {
  content: "\e87d";
}

.ic_redeem_px:before {
  content: "\e67e";
}

.ic_signal_cellular_connected_no_internet__bar_p1:before {
  content: "\e77e";
}

.ic_wb_incandescent_px:before {
  content: "\e87e";
}

.ic_schedule_px:before {
  content: "\e67f";
}

.ic_signal_wifi_statusbar__bar_xpx1:before {
  content: "\e77f";
}

.ic_wb_sunny_px:before {
  content: "\e87f";
}

.ic_room_px:before {
  content: "\e680";
}

.ic_signal_wifi_statusbar__bar_xpx2:before {
  content: "\e780";
}

.ic_wb_irradescent_px:before {
  content: "\e880";
}

.ic_search_px:before {
  content: "\e681";
}

.ic_signal_wifi__bar_px:before {
  content: "\e781";
}

.ic_wb_cloudy_px:before {
  content: "\e881";
}

.ic_restore_px:before {
  content: "\e682";
}

.ic_signal_wifi_statusbar__bar_xpx3:before {
  content: "\e782";
}

.ic_beenhere_px:before {
  content: "\e882";
}

.ic_settings_applications_px:before {
  content: "\e683";
}

.ic_signal_cellular_off_px:before {
  content: "\e783";
}

.ic_directions_px:before {
  content: "\e883";
}

.ic_receipt_px:before {
  content: "\e684";
}

.ic_signal_wifi_statusbar_connected_no_internet_x:before {
  content: "\e784";
}

.ic_directions_car_px:before {
  content: "\e884";
}

.ic_settings_cell_px:before {
  content: "\e685";
}

.ic_signal_wifi_statusbar_connected_no_internet__:before {
  content: "\e785";
}

.ic_directions_bus_px:before {
  content: "\e885";
}

.ic_settings_px:before {
  content: "\e686";
}

.ic_signal_wifi_statusbar_connected_no_internet__1:before {
  content: "\e786";
}

.ic_directions_bike_px:before {
  content: "\e886";
}

.ic_settings_display_px:before {
  content: "\e687";
}

.ic_signal_wifi_statusbar_connected_no_internet__2:before {
  content: "\e787";
}

.ic_directions_train_px:before {
  content: "\e887";
}

.ic_settings_bluetooth_px:before {
  content: "\e688";
}

.ic_signal_wifi_statusbar_not_connected_xpx:before {
  content: "\e788";
}

.ic_directions_subway_px:before {
  content: "\e888";
}

.ic_settings_backup_restore_px:before {
  content: "\e689";
}

.ic_signal_wifi_statusbar_connected_no_internet__3:before {
  content: "\e789";
}

.ic_directions_ferry_px:before {
  content: "\e889";
}

.ic_settings_ethernet_px:before {
  content: "\e68a";
}

.ic_signal_wifi_statusbar_null_xpx:before {
  content: "\e78a";
}

.ic_flight_px:before {
  content: "\e88a";
}

.ic_settings_input_composite_px:before {
  content: "\e68b";
}

.ic_wifi_tethering_px:before {
  content: "\e78b";
}

.ic_layers_clear_px:before {
  content: "\e88b";
}

.ic_settings_input_hdmi_px:before {
  content: "\e68c";
}

.ic_wifi_lock_px:before {
  content: "\e78c";
}

.ic_directions_walk_px:before {
  content: "\e88c";
}

.ic_settings_phone_px:before {
  content: "\e68d";
}

.ic_storage_px:before {
  content: "\e78d";
}

.ic_hotel_px:before {
  content: "\e88d";
}

.ic_shop_px:before {
  content: "\e68e";
}

.ic_usb_px:before {
  content: "\e78e";
}

.ic_directions_transit_px:before {
  content: "\e88e";
}

.ic_settings_input_component_px:before {
  content: "\e68f";
}

.ic_attach_file_px:before {
  content: "\e78f";
}

.ic_layers_px:before {
  content: "\e88f";
}

.ic_shop_two_px:before {
  content: "\e690";
}

.ic_border_all_px:before {
  content: "\e790";
}

.ic_local_atm_px:before {
  content: "\e890";
}

.ic_spellcheck_px:before {
  content: "\e691";
}

.ic_border_bottom_px:before {
  content: "\e791";
}

.ic_local_airport_px:before {
  content: "\e891";
}

.ic_shopping_basket_px:before {
  content: "\e692";
}

.ic_attach_money_px:before {
  content: "\e792";
}

.ic_local_bar_px:before {
  content: "\e892";
}

.ic_settings_input_svideo_px:before {
  content: "\e693";
}

.ic_border_clear_px:before {
  content: "\e793";
}

.ic_local_cafe_px:before {
  content: "\e893";
}

.ic_settings_overscan_px:before {
  content: "\e694";
}

.ic_border_horizontal_px:before {
  content: "\e794";
}

.ic_local_attraction_px:before {
  content: "\e894";
}

.ic_settings_input_antenna_px:before {
  content: "\e695";
}

.ic_border_color_px:before {
  content: "\e795";
}

.ic_local_car_wash_px:before {
  content: "\e895";
}

.ic_store_px:before {
  content: "\e696";
}

.ic_border_outer_px:before {
  content: "\e796";
}

.ic_local_convenience_store_px:before {
  content: "\e896";
}

.ic_swap_horiz_px:before {
  content: "\e697";
}

.ic_border_inner_px:before {
  content: "\e797";
}

.ic_local_drink_px:before {
  content: "\e897";
}

.ic_star_rate_px:before {
  content: "\e698";
}

.ic_border_top_px:before {
  content: "\e798";
}

.ic_local_florist_px:before {
  content: "\e898";
}

.ic_shopping_cart_px:before {
  content: "\e699";
}

.ic_border_left_px:before {
  content: "\e799";
}

.ic_local_hospital_px:before {
  content: "\e899";
}

.ic_settings_remote_px:before {
  content: "\e69a";
}

.ic_border_right_px:before {
  content: "\e79a";
}

.ic_local_gas_station_px:before {
  content: "\e89a";
}

.ic_settings_voice_px:before {
  content: "\e69b";
}

.ic_format_align_justify_px:before {
  content: "\e79b";
}

.ic_local_library_px:before {
  content: "\e89b";
}

.ic_settings_power_px:before {
  content: "\e69c";
}

.ic_format_align_right_px:before {
  content: "\e79c";
}

.ic_local_grocery_store_px:before {
  content: "\e89c";
}

.ic_stars_px:before {
  content: "\e69d";
}

.ic_format_align_center_px:before {
  content: "\e79d";
}

.ic_local_hotel_px:before {
  content: "\e89d";
}

.ic_swap_vert_px:before {
  content: "\e69e";
}

.ic_format_align_left_px:before {
  content: "\e79e";
}

.ic_local_offer_px:before {
  content: "\e89e";
}

.ic_swap_vert_circle_px:before {
  content: "\e69f";
}

.ic_border_vertical_px:before {
  content: "\e79f";
}

.ic_local_movies_px:before {
  content: "\e89f";
}

.ic_supervisor_account_px:before {
  content: "\e6a0";
}

.ic_format_bold_px:before {
  content: "\e7a0";
}

.ic_local_laundry_service_px:before {
  content: "\e8a0";
}

.ic_theaters_px:before {
  content: "\e6a1";
}

.ic_format_clear_px:before {
  content: "\e7a1";
}

.ic_local_phone_px:before {
  content: "\e8a1";
}

.ic_system_update_tv_px:before {
  content: "\e6a2";
}

.ic_border_style_px:before {
  content: "\e7a2";
}

.ic_local_parking_px:before {
  content: "\e8a2";
}

.ic_tab_px:before {
  content: "\e6a3";
}

.ic_format_color_reset_px:before {
  content: "\e7a3";
}

.ic_local_post_office_px:before {
  content: "\e8a3";
}

.ic_subject_px:before {
  content: "\e6a4";
}

.ic_format_color_text_px:before {
  content: "\e7a4";
}

.ic_local_pharmacy_px:before {
  content: "\e8a4";
}

.ic_thumb_up_px:before {
  content: "\e6a5";
}

.ic_format_color_fill_px:before {
  content: "\e7a5";
}

.ic_local_mall_px:before {
  content: "\e8a5";
}

.ic_tab_unselected_px:before {
  content: "\e6a6";
}

.ic_format_indent_decrease_px:before {
  content: "\e7a6";
}

.ic_local_pizza_px:before {
  content: "\e8a6";
}

.ic_thumbs_up_down_px:before {
  content: "\e6a7";
}

.ic_format_italic_px:before {
  content: "\e7a7";
}

.ic_local_restaurant_px:before {
  content: "\e8a7";
}

.ic_speaker_notes_px:before {
  content: "\e6a8";
}

.ic_format_indent_increase_px:before {
  content: "\e7a8";
}

.ic_local_shipping_px:before {
  content: "\e8a8";
}

.ic_thumb_down_px:before {
  content: "\e6a9";
}

.ic_format_list_bulleted_px:before {
  content: "\e7a9";
}

.ic_local_see_px:before {
  content: "\e8a9";
}

.ic_trending_neutral_px:before {
  content: "\e6aa";
}

.ic_format_line_spacing_px:before {
  content: "\e7aa";
}

.ic_local_play_px:before {
  content: "\e8aa";
}

.ic_translate_px:before {
  content: "\e6ab";
}

.ic_format_list_numbered_px:before {
  content: "\e7ab";
}

.ic_local_print_shop_px:before {
  content: "\e8ab";
}

.ic_toc_px:before {
  content: "\e6ac";
}

.ic_format_paint_px:before {
  content: "\e7ac";
}

.ic_location_history_px:before {
  content: "\e8ac";
}

.ic_today_px:before {
  content: "\e6ad";
}

.ic_format_quote_px:before {
  content: "\e7ad";
}

.ic_navigation_px:before {
  content: "\e8ad";
}

.ic_trending_down_px:before {
  content: "\e6ae";
}

.ic_format_size_px:before {
  content: "\e7ae";
}

.ic_local_taxi_px:before {
  content: "\e8ae";
}

.ic_track_changes_px:before {
  content: "\e6af";
}

.ic_format_textdirection_l_to_r_px:before {
  content: "\e7af";
}

.ic_map_px:before {
  content: "\e8af";
}

.ic_view_array_px:before {
  content: "\e6b0";
}

.ic_format_strikethrough_px:before {
  content: "\e7b0";
}

.ic_my_location_px:before {
  content: "\e8b0";
}

.ic_turned_in_not_px:before {
  content: "\e6b1";
}

.ic_format_textdirection_r_to_l_px:before {
  content: "\e7b1";
}

.ic_pin_drop_px:before {
  content: "\e8b1";
}

.ic_turned_in_px:before {
  content: "\e6b2";
}

.ic_format_underline_px:before {
  content: "\e7b2";
}

.ic_place_px:before {
  content: "\e8b2";
}

.ic_view_agenda_px:before {
  content: "\e6b3";
}

.ic_functions_px:before {
  content: "\e7b3";
}

.ic_rate_review_px:before {
  content: "\e8b3";
}

.ic_verified_user_px:before {
  content: "\e6b4";
}

.ic_insert_chart_px:before {
  content: "\e7b4";
}

.ic_restaurant_menu_px:before {
  content: "\e8b4";
}

.ic_trending_up_px:before {
  content: "\e6b5";
}

.ic_insert_link_px:before {
  content: "\e7b5";
}

.ic_satellite_px:before {
  content: "\e8b5";
}

.ic_view_module_px:before {
  content: "\e6b6";
}

.ic_insert_drive_file_px:before {
  content: "\e7b6";
}

.ic_terrain_px:before {
  content: "\e8b6";
}

.ic_view_carousel_px:before {
  content: "\e6b7";
}

.ic_insert_invitation_px:before {
  content: "\e7b7";
}

.ic_store_mall_directory_px:before {
  content: "\e8b7";
}

.ic_view_list_px:before {
  content: "\e6b8";
}

.ic_insert_comment_px:before {
  content: "\e7b8";
}

.ic_traffic_px:before {
  content: "\e8b8";
}

.ic_view_headline_px:before {
  content: "\e6b9";
}

.ic_merge_type_px:before {
  content: "\e7b9";
}

.ic_arrow_back_px:before {
  content: "\e8b9";
}

.ic_view_column_px:before {
  content: "\e6ba";
}

.ic_insert_emoticon_px:before {
  content: "\e7ba";
}

.ic_arrow_drop_down_px:before {
  content: "\e8ba";
}

.ic_view_day_px:before {
  content: "\e6bb";
}

.ic_vertical_align_bottom_px:before {
  content: "\e7bb";
}

.ic_arrow_drop_down_circle_px:before {
  content: "\e8bb";
}

.ic_view_quilt_px:before {
  content: "\e6bc";
}

.ic_mode_comment_px:before {
  content: "\e7bc";
}

.ic_arrow_forward_px:before {
  content: "\e8bc";
}

.ic_visibility_off_px:before {
  content: "\e6bd";
}

.ic_mode_edit_px:before {
  content: "\e7bd";
}

.ic_apps_px:before {
  content: "\e8bd";
}

.ic_view_week_px:before {
  content: "\e6be";
}

.ic_publish_px:before {
  content: "\e7be";
}

.ic_check_px:before {
  content: "\e8be";
}

.ic_view_stream_px:before {
  content: "\e6bf";
}

.ic_wrap_text_px:before {
  content: "\e7bf";
}

.ic_chevron_left_px:before {
  content: "\e8bf";
}

.ic_visibility_px:before {
  content: "\e6c0";
}

.ic_vertical_align_top_px:before {
  content: "\e7c0";
}

.ic_chevron_right_px:before {
  content: "\e8c0";
}

.ic_wallet_giftcard_px:before {
  content: "\e6c1";
}

.ic_insert_photo_px:before {
  content: "\e7c1";
}

.ic_close_px:before {
  content: "\e8c1";
}

.ic_work_px:before {
  content: "\e6c2";
}

.ic_vertical_align_center_px:before {
  content: "\e7c2";
}

.ic_cancel_px:before {
  content: "\e8c2";
}

.ic_wallet_travel_px:before {
  content: "\e6c3";
}

.ic_attachment_px:before {
  content: "\e7c3";
}

.ic_expand_less_px:before {
  content: "\e8c3";
}

.ic_wallet_membership_px:before {
  content: "\e6c4";
}

.ic_cloud_px:before {
  content: "\e7c4";
}

.ic_fullscreen_px:before {
  content: "\e8c4";
}

.ic_error_px:before {
  content: "\e6c5";
}

.ic_cloud_done_px:before {
  content: "\e7c5";
}

.ic_menu_px:before {
  content: "\e8c5";
}

.ic_warning_px:before {
  content: "\e6c6";
}

.ic_cloud_download_px:before {
  content: "\e7c6";
}

.ic_fullscreen_exit_px:before {
  content: "\e8c6";
}

.ic_closed_caption_px:before {
  content: "\e6c7";
}

.ic_cloud_circle_px:before {
  content: "\e7c7";
}

.ic_expand_more_px:before {
  content: "\e8c7";
}

.ic_album_px:before {
  content: "\e6c8";
}

.ic_file_upload_px:before {
  content: "\e7c8";
}

.ic_more_horiz_px:before {
  content: "\e8c8";
}

.ic_equalizer_px:before {
  content: "\e6c9";
}

.ic_file_download_px:before {
  content: "\e7c9";
}

.ic_more_vert_px:before {
  content: "\e8c9";
}

.ic_fast_forward_px:before {
  content: "\e6ca";
}

.ic_cloud_off_px:before {
  content: "\e7ca";
}

.ic_unfold_less_px:before {
  content: "\e8ca";
}

.ic_av_timer_px:before {
  content: "\e6cb";
}

.ic_folder_px:before {
  content: "\e7cb";
}

.ic_unfold_more_px:before {
  content: "\e8cb";
}

.ic_explicit_px:before {
  content: "\e6cc";
}

.ic_cloud_queue_px:before {
  content: "\e7cc";
}

.ic_refresh_px:before {
  content: "\e8cc";
}

.ic_fast_rewind_px:before {
  content: "\e6cd";
}

.ic_cloud_upload_px:before {
  content: "\e7cd";
}

.ic_arrow_drop_up_px:before {
  content: "\e8cd";
}

.ic_hearing_px:before {
  content: "\e6ce";
}

.ic_folder_open_px:before {
  content: "\e7ce";
}

.ic_disc_full_px:before {
  content: "\e8ce";
}

.ic_high_quality_px:before {
  content: "\e6cf";
}

.ic_folder_shared_px:before {
  content: "\e7cf";
}

.ic_bluetooth_audio_px:before {
  content: "\e8cf";
}

.ic_loop_px:before {
  content: "\e6d0";
}

.ic_cast_px:before {
  content: "\e7d0";
}

.ic_dnd_forwardslash_px:before {
  content: "\e8d0";
}

.ic_games_px:before {
  content: "\e6d1";
}

.ic_desktop_mac_px:before {
  content: "\e7d1";
}

.ic_do_not_disturb_px:before {
  content: "\e8d1";
}

.ic_mic_px:before {
  content: "\e6d2";
}

.ic_computer_px:before {
  content: "\e7d2";
}

.ic_adb_px:before {
  content: "\e8d2";
}

.ic_movie_px:before {
  content: "\e6d3";
}

.ic_dock_px:before {
  content: "\e7d3";
}

.ic_drive_eta_px:before {
  content: "\e8d3";
}

.ic_mic_none_px:before {
  content: "\e6d4";
}

.ic_desktop_windows_px:before {
  content: "\e7d4";
}

.ic_event_note_px:before {
  content: "\e8d4";
}

.ic_mic_off_px:before {
  content: "\e6d5";
}

.ic_cast_connected_px:before {
  content: "\e7d5";
}

.ic_event_busy_px:before {
  content: "\e8d5";
}

.ic_my_library_add_px:before {
  content: "\e6d6";
}

.ic_keyboard_px:before {
  content: "\e7d6";
}

.ic_event_available_px:before {
  content: "\e8d6";
}

.ic_my_library_books_px:before {
  content: "\e6d7";
}

.ic_gamepad_px:before {
  content: "\e7d7";
}

.ic_folder_special_px:before {
  content: "\e8d7";
}

.ic_my_library_music_px:before {
  content: "\e6d8";
}

.ic_headset_mic_px:before {
  content: "\e7d8";
}

.ic_network_locked_px:before {
  content: "\e8d8";
}

.ic_pause_px:before {
  content: "\e6d9";
}

.ic_headset_px:before {
  content: "\e7d9";
}

.ic_phone_forwarded_px:before {
  content: "\e8d9";
}

.ic_new_releases_px:before {
  content: "\e6da";
}

.ic_keyboard_arrow_down_px:before {
  content: "\e7da";
}

.ic_phone_locked_px:before {
  content: "\e8da";
}

.ic_play_arrow_px:before {
  content: "\e6db";
}

.ic_keyboard_alt_px:before {
  content: "\e7db";
}

.ic_phone_bluetooth_speaker_px:before {
  content: "\e8db";
}

.ic_pause_circle_fill_px:before {
  content: "\e6dc";
}

.ic_keyboard_arrow_left_px:before {
  content: "\e7dc";
}

.ic_phone_in_talk_px:before {
  content: "\e8dc";
}

.ic_not_interested_px:before {
  content: "\e6dd";
}

.ic_keyboard_backspace_px:before {
  content: "\e7dd";
}

.ic_more_px:before {
  content: "\e8dd";
}

.ic_pause_circle_outline_px:before {
  content: "\e6de";
}

.ic_keyboard_capslock_px:before {
  content: "\e7de";
}

.ic_phone_missed_px:before {
  content: "\e8de";
}

.ic_play_circle_fill_px:before {
  content: "\e6df";
}

.ic_keyboard_control_px:before {
  content: "\e7df";
}

.ic_play_install_px:before {
  content: "\e8df";
}

.ic_play_shopping_bag_px:before {
  content: "\e6e0";
}

.ic_keyboard_arrow_up_px:before {
  content: "\e7e0";
}

.ic_sd_card_px:before {
  content: "\e8e0";
}

.ic_play_circle_outline_px:before {
  content: "\e6e1";
}

.ic_keyboard_arrow_right_px:before {
  content: "\e7e1";
}

.ic_phone_paused_px:before {
  content: "\e8e1";
}

.ic_playlist_add_px:before {
  content: "\e6e2";
}

.ic_keyboard_voice_px:before {
  content: "\e7e2";
}

.ic_sim_card_alert_px:before {
  content: "\e8e2";
}

.ic_queue_px:before {
  content: "\e6e3";
}

.ic_keyboard_hide_px:before {
  content: "\e7e3";
}

.ic_play_download_px:before {
  content: "\e8e3";
}

.ic_queue_music_px:before {
  content: "\e6e4";
}

.ic_keyboard_tab_px:before {
  content: "\e7e4";
}

.ic_sms_px:before {
  content: "\e8e4";
}

.ic_repeat_px:before {
  content: "\e6e5";
}

.ic_laptop_chromebook_px:before {
  content: "\e7e5";
}

.ic_sync_disabled_px:before {
  content: "\e8e5";
}

.ic_recent_actors_px:before {
  content: "\e6e6";
}

.ic_keyboard_return_px:before {
  content: "\e7e6";
}

.ic_sms_failed_px:before {
  content: "\e8e6";
}

.ic_radio_px:before {
  content: "\e6e7";
}

.ic_laptop_px:before {
  content: "\e7e7";
}

.ic_system_update_px:before {
  content: "\e8e7";
}

.ic_shuffle_px:before {
  content: "\e6e8";
}

.ic_laptop_mac_px:before {
  content: "\e7e8";
}

.ic_sync_problem_px:before {
  content: "\e8e8";
}

.ic_repeat_one_px:before {
  content: "\e6e9";
}

.ic_mouse_px:before {
  content: "\e7e9";
}

.ic_sync_px:before {
  content: "\e8e9";
}

.ic_replay_px:before {
  content: "\e6ea";
}

.ic_phonelink_px:before {
  content: "\e7ea";
}

.ic_voice_chat_px:before {
  content: "\e8ea";
}

.ic_skip_previous_px:before {
  content: "\e6eb";
}

.ic_laptop_windows_px:before {
  content: "\e7eb";
}

.ic_vibration_px:before {
  content: "\e8eb";
}

.ic_snooze_px:before {
  content: "\e6ec";
}

.ic_phone_android_px:before {
  content: "\e7ec";
}

.ic_tap_and_play_px:before {
  content: "\e8ec";
}

.ic_skip_next_px:before {
  content: "\e6ed";
}

.ic_phone_iphone_px:before {
  content: "\e7ed";
}

.ic_vpn_lock_px:before {
  content: "\e8ed";
}

.ic_stop_px:before {
  content: "\e6ee";
}

.ic_memory_px:before {
  content: "\e7ee";
}

.ic_time_to_leave_px:before {
  content: "\e8ee";
}

.ic_subtitles_px:before {
  content: "\e6ef";
}

.ic_tablet_px:before {
  content: "\e7ef";
}

.ic_mms_px:before {
  content: "\e8ef";
}

.ic_surround_sound_px:before {
  content: "\e6f0";
}

.ic_sim_card_px:before {
  content: "\e7f0";
}

.ic_group_px:before {
  content: "\e8f0";
}

.ic_video_collection_px:before {
  content: "\e6f1";
}

.ic_smartphone_px:before {
  content: "\e7f1";
}

.ic_domain_px:before {
  content: "\e8f1";
}

.ic_videocam_px:before {
  content: "\e6f2";
}

.ic_security_px:before {
  content: "\e7f2";
}

.ic_location_city_px:before {
  content: "\e8f2";
}

.ic_videocam_off_px:before {
  content: "\e6f3";
}

.ic_speaker_px:before {
  content: "\e7f3";
}

.ic_group_add_px:before {
  content: "\e8f3";
}

.ic_volume_off_px:before {
  content: "\e6f4";
}

.ic_phonelink_off_px:before {
  content: "\e7f4";
}

.ic_cake_px:before {
  content: "\e8f4";
}

.ic_volume_down_px:before {
  content: "\e6f5";
}

.ic_tv_px:before {
  content: "\e7f5";
}

.ic_mood_px:before {
  content: "\e8f5";
}

.ic_volume_mute_px:before {
  content: "\e6f6";
}

.ic_tablet_android_px:before {
  content: "\e7f6";
}

.ic_notifications_paused_px:before {
  content: "\e8f6";
}

